<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name = "email"
      [(ngModel)] = "email"
      placeholder = "example@xyz.com"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name = "password" class="form-control" id="exampleInputPassword1" [(ngModel)] = "password" />
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" (change)="onRememberMeChange($event)" [checked] = "rememberMe" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Remember me?</label>
  </div>
  <button (click) = "submitCredentials()" type="submit" class="btn btn-primary">Submit</button>
</form>
